<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <% if flash[:notice] %>
	    <div class="notice"><%= flash[:notice] %></div>
	  <% end %>

  </head>

  <body>
  	
  	<%= link_to "Sign in with Facebook", "/auth/facebook" %>
  	<%= link_to("Sign out", sign_out_path(@user), method: :delete) %> 
    
    <%= yield %>
  </body>
</html>
